@import '../../vendor/filament/filament/resources/css/theme.css';

@import './print-styles.css';

#fi-report .fi-ta-text{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
